<a href="https://colab.research.google.com/github/Geuens/curso_ai/blob/main/langchain_agent_sql_to_text.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install langchain langchainhub langchain_openai openai
from langchain.sql_database import SQLDatabase
from langchain_openai import ChatOpenAI
from langchain.schema.output_parser import StrOutputParser
from langchain import hub
from google.colab import userdata
from langchain_community.agent_toolkits import create_sql_agent
from langchain_openai import ChatOpenAI

secret_string = userdata.get('OPENAI_TOKEN')

# Inicializamos db
db = SQLDatabase.from_uri("sqlite:///chinook.db")

llm = ChatOpenAI(openai_api_key=secret_string, model="gpt-4", temperature=0)

agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)
resultado = agent_executor.invoke(
    "Dime cual es el gasto por trimestre de los clientes españoles. Dame tu respuesta en castellano"
)
print(resultado.get('output'))

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with ``


album, artist, customer, employee, genre, invoice, invoice_line, media_type, playlist, playlist_track, track
Invoking: `sql_db_schema` with `{'table_names': 'customer, invoice'}`
responded: The relevant tables for this query seem to be 'customer' and 'invoice'. Let's check their schemas.


CREATE TABLE customer (
	customer_id INTEGER NOT NULL,
	first_name NVARCHAR(40) NOT NULL,
	last_name NVARCHAR(20) NOT NULL,
	company NVARCHAR(80),
	address NVARCHAR(70),
	city NVARCHAR(40),
	state NVARCHAR(40),
	country NVARCHAR(40),
	postal_code NVARCHAR(10),
	phone NVARCHAR(24),
	fax NVARCHAR(24),
	email NVARCHAR(60) NOT NULL,
	support_rep_id INTEGER,
	PRIMARY KEY (customer_id),
	FOREIGN KEY(support_rep_id) REFERENCES employee (employee_id)
)

/*
3 rows from customer table:
customer_id	first_name	last_name	company	address	city	state	country	postal_code	phone	fax	email	support_rep_id
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE invoice (
	invoice_id INTEGER NOT NULL,
	customer_id INTEGER NOT NULL,
	invoice_date DATETIME NOT NULL,
	billing_address NVARCHAR(70),
	billing_city NVARCHAR(40),
	billing_state NVARCHAR(40),
	billing_country NVARCHAR(40),
	billing_postal_code NVARCHAR(10),
	total NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY (invoice_id),
	FOREIGN KEY(customer_id) REFERENCES customer (customer_id)
)

/*
3 rows from invoice table:
invoice_id	customer_id	invoice_date	billing_address	billing_city	billing_state	billing_country	billing_postal_code	total
1	18	2017-01-03 00:00:00	627 Broadway	New York	NY	USA	10012-2612	15.84
2	30	2017-01-03 00:00:00	230 Elgin Street	Ottawa	ON	Canada	K2P 1L7	9.90
3	40	2017-01-05 00:00:00	8, Rue Hanovre	Paris	None	France	75002	1.98
*/
Invoking: `sql_db_query_checker` with `SELECT strftime('%Y', invoice_date) as Year, strftime('%m', invoice_date) as Month, SUM(total) as Total FROM invoice JOIN customer ON invoice.customer_id = customer.customer_id WHERE customer.country = 'Spain' GROUP BY Year, (Month-1)/3`
responded: The 'customer' table has a 'country' column and the 'invoice' table has a 'total' and 'invoice_date' column. I can join these tables on 'customer_id' to get the total invoice amount for customers from Spain. I will group the results by quarter of the 'invoice_date'. Let's write the query.

SELECT strftime('%Y', invoice_date) as Year, strftime('%m', invoice_date) as Month, SUM(total) as Total
FROM invoice
JOIN customer ON invoice.customer_id = customer.customer_id
WHERE customer.country = 'Spain'
GROUP BY Year, (Month-1)/3
Invoking: `sql_db_query` with `SELECT strftime('%Y', invoice_date) as Year, strftime('%m', invoice_date) as Month, SUM(total) as Total FROM invoice JOIN customer ON invoice.customer_id = customer.customer_id WHERE customer.country = 'Spain' GROUP BY Year, (Month-1)/3`


[('2017', '03', 7.92), ('2017', '09', 8.91), ('2018', '10', 13.86), ('2019', '02', 9.9), ('2019', '04', 19.8), ('2019', '07', 11.88), ('2019', '12', 1.98), ('2020', '05', 23.759999999999998)]El gasto por trimestre de los clientes españoles es el siguiente:

- Primer trimestre de 2017: 7.92
- Tercer trimestre de 2017: 8.91
- Cuarto trimestre de 2018: 13.86
- Primer trimestre de 2019: 9.9
- Segundo trimestre de 2019: 19.8
- Tercer trimestre de 2019: 11.88
- Cuarto trimestre de 2019: 1.98
- Segundo trimestre de 2020: 23.76

Por favor, ten en cuenta que estos valores están en la moneda predeterminada de la base de datos.

> Finished chain.
El gasto por trimestre de los clientes españoles es el siguiente:

- Primer trimestre de 2017: 7.92
- Tercer trimestre de 2017: 8.91
- Cuarto trimestre de 2018: 13.86
- Primer trimestre de 2019: 9.9
- Segundo trimestre de 2019: 19.8
- Tercer trimestre de 2019: 11.88
- Cuarto trimestre de 2019: 1.98
- Segundo trimestre de 2020: 23.76

Por favor, ten en cuenta que estos valores están en la moneda predeterminada de la base de datos.